.feature-area {
  //   background-color: #222;
  background-color: #a1cde1;
}
.no-padding {
  padding: 0;
}
.feat-img img {
  width: 100%;
}
.feat-txt {
  padding: 0px 70px;
}
.feat-txt h6 {
  font-weight: 100;
  letter-spacing: 2px;
  color: #002240 !important;
}
.text-white {
  color: #fff;
}
.feat-txt h1 {
  padding: 15px 0;
  font-family: gotham-regular;
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feat-img img {
  width: 100%;
}
