<section class="feature-area">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-3 feat-img no-padding">
        <img class="img-fluid" src="../../assets//images/f1.jpg" alt="">
      </div>
      <div class="col-lg-3 no-padding feat-txt">
        <h6 class="text-uppercase text-white">Nonsensical Latin derived</h6>
        <h1>Consectetur adipiscing</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
      <div class="col-lg-3 feat-img no-padding">
        <img class="img-fluid" src="../../assets//images/f2.jpg" alt="">
      </div>
      <div class="col-lg-3 no-padding feat-txt">
        <h6 class="text-uppercase text-white">Nonsensical Latin derived</h6>
        <h1>Consectetur adipiscing</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
    </div>
  </div>
</section>