<div class="register-wrapper mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="registerForm">
          <div class="row mb-5">
            <div class="col">
              <h3>Registration</h3>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="firstName">First Name:</label>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name"
                formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                <div *ngIf="f.firstName.errors.pattern">Only characters allowed</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="lastName">Last Name:</label>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name"
                formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                <div *ngIf="f.lastName.errors.pattern">Only characters allowed</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="email">Email:</label>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email"
                formControlName="email" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf=" submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                <div *ngIf="f.email.errors.emailTaken">This Email is already exists</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="password">Password:</label>
            </div>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"
                formControlName="password" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="dateOfBirth">Date Of Birth</label>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth"
                placeholder="Enter Date Of Birth" formControlName="dateOfBirth" bsDatepicker [bsValue]="bsValue"
                autocomplete="off" [bsConfig]="dpConfig"
                [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }">
              <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
                <div *ngIf="f.dateOfBirth.errors.required">Date Of Birth is required</div>
                <div *ngIf="f.dateOfBirth.errors.validDOB">Date must be less than today</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="mobileNumber">Mobile Number</label>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="mobileNumber" name="mobileNumber"
                placeholder="Enter Mobile Number" formControlName="mobileNumber"
                [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }">
              <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                <div *ngIf="f.mobileNumber.errors.required">Mobile Number is required</div>
                <div *ngIf="f.mobileNumber.errors.minlength || f.mobileNumber.errors.maxlength">Please enter valid
                  mobile number</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="regGotoNext()">Next</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>