<!-- <section class="Material-service-section  mt-5 mb-4">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4 single-service-widget wow animated fadeInUp animated" data-wow-delay=".3s"
        style="visibility: visible;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;">
        <div class="media">
          <div class="media-left">
            <i class="material-icons pulse-shrink mdi mdi-arrange-send-backward"></i>
          </div>
          <div class="media-body">
            <h2 class="subtitle"><a href="#">Refreshing Design</a></h2>
            <p>Excepteur sint occaecat cupi datat non proidt, sunt in culpa qui offi cia deserunt</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-4 single-service-widget wow animated fadeInUp animated" data-wow-delay=".4s"
        style="visibility: visible;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;">
        <div class="media">
          <div class="media-left">
            <i class="material-icons pulse-shrink mdi mdi-code-tags-check"></i>
          </div>
          <div class="media-body">
            <h2 class="subtitle"><a href="#">Solid Bootstrap 4</a></h2>
            <p>Excepteur sint occaecat cupi datat non proidt, sunt in culpa qui offi cia deserunt</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-4 single-service-widget wow animated fadeInUp animated" data-wow-delay=".5s"
        style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">
        <div class="media">
          <div class="media-left">
            <i class="material-icons pulse-shrink mdi mdi-grid"></i>
          </div>
          <div class="media-body">
            <h2 class="subtitle"><a href="#">100+ Components</a></h2>
            <p>Excepteur sint occaecat cupi datat non proidt, sunt in culpa qui offi cia deserunt</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="about-us mt-5 mb-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing
          layouts and visual mockups.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="about-left-text">
          <h2>
            DESIGNS <br /> FORGED<br />WITH<br /><span class="last-word">PASSION</span>
          </h2>
        </div>
      </div>
      <div class="col-sm-6">
        <h2>tempor incididunt</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>
    </div>
  </div>

</section>