<div class="our-tour-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 tour-left-bg">
        <div class="container-left-half">
          <div class="row">
            <div class="col-sm-12">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 tour-right-bg">
        <div class="container-right-half">
          <div class="row mt-4">
            <div class="col-sm-12">
              <h2>Make Your Tour Memorable and Safe With Us</h2>
              <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                previewing
                layouts and visual mockups.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="text">
                <strong class="number" data-number="300">300</strong>
                <span>PROJECTS COMPLETED</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="text">
                <strong class="number" data-number="24000">24,000</strong>
                <span>SATISFIED CUSTOMER</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="text">
                <strong class="number" data-number="200">200</strong>
                <span>YEARS OF EXPERIENCED</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>