<div class="our-client-wrapper mt-5 mb-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Happy Clients</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <img src="../../assets/images/clientable1.jpg" class="img-fluid">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/images/clientable2.jpg" class="img-fluid">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/images/clientable3.jpg" class="img-fluid">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/images/clientable4.jpg" class="img-fluid">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/images/clientable5.jpg" class="img-fluid">
      </div>
      <div class="col-sm-2">
        <img src="../../assets/images/clientable6.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</div>